name: build

on:
  - push

jobs:
  build:
    name: Compile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: brndnmtthws/rust-action-rustup@v1
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --bin ctry
      - uses: actions/upload-artifact@v4
        with:
          name: binary
          path: target/release/ctry
